
<style>
    body{
        
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically */
    height: 100vh;          /* Makes the body fill the full height of the viewport */
    margin: 0;  
}
    img{
        height: 400px;
        width: 400px;
        border: 2px solid red;
        border-radius: 50%;
    }
    h1{
        margin-left: 50px;
        color: red;
        align-items: center;
    }
    h5{
        margin-left: 115px !important;
    }
    
</style>

<div class="welcome">
    <h1>Welcome to wonderlust</h1>
    <h5>Click image to exlore world</h5>
   
    <a href="/listings" class="btn btn2 btn-outline-danger "> <img src=" https://files.oaiusercontent.com/file-SaskPoSJAvw9fYrVL6rCYN?se=2024-11-24T05%3A08%3A34Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D3d4ca9a6-5e3a-4625-94b7-0f37dc34697b.webp&sig=or2069ewbBm50xqSNnZhv4vCimUMzH2sNCPjb7hq1Uk%3D " alt=""></a>


</div>
